---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import GithubIcon from "../icons/Github.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import Button from "../components/Button.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import MailIcon from "../icons/Mail.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";
---

<Layout
  title="Porfolio Buap"
  description="Soy Brayan Ulisses Arias perez, desarrollador fullstack con más de 4 años de experiencia, especializado en aplicaciones web y móviles. Con base en Mazatlán, Sinaloa, México."
>
  <main>
    <SectionContainer class="pt-14 md:pt-24 lg:pt-44">
      <div class="flex flex-row gap-x-4 pb-5">
        <img
          class="rounded-full size-14"
          src="https://cdn.theorg.com/cb019f88-c5b1-46a8-839f-a0c1e1dddc60_medium.jpg"
          alt="buap"
        />
        <a
          href="https://linkedin.com/in/midudev"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para ofertas</Badge>
        </a>
      </div>
      <H1 class="text-white pb-10">Hey, soy Brayan Ulisses Arias perez</H1>
      <H2 class="text-balance pb-10">
        <span class="text-yellow-200">Desarrollador fullstack</span> con más de 4 años de experiencia, <span
          class="text-sky-200">especializado en aplicaciones web y móviles</span
        >. Con base en <span class="text-red-200">Mazatlán, Sinaloa, México</span>.
      </H2>

      <nav class="flex gap-x-4">
        <Button href="https://github.com/brayanAP">
          <GithubIcon class="w-5 h-5" />
          Github
        </Button>
        <Button href="https://www.linkedin.com/in/buapmz">
          <LinkedInIcon class="w-4 h-4" />
          LinkedIn
        </Button>
        <Button href="mailto:brulariaspe@gmail.com?subject=Contacto2&body=Hola">
          <MailIcon class="w-5 h-5" />
          Email
        </Button>
      </nav>
    </SectionContainer>

    <SectionContainer id="experience" class="pt-16 md:pt-24">
      <H2 class="mb-6 flex gap-x-2 items-center">
        <BriefcaseIcon class="size-8" />
        Experencia laboral
      </H2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects" class="pt-12 md:pt-20">
      <H2 class="mb-6 flex gap-x-2 items-center">
        <CodeIcon class="size-8" />
        Proyectos
      </H2>
      <Projects />
    </SectionContainer>
  </main>
</Layout>
